h1 { color: White ;
    border-bottom: 2px solid White;
    text-align: center;

}

ul.main-menu {
    list-style-type: none;
    background-color:#08A6DC;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    font size; 110%;
    float: left;
    width: 160px;
    border-right: solid;
    Height: 100%;
    Padding-bottom: 100%;
    

}



body {
    background-color: #08A6DC;
    color: Black;
    font-family: "Helvetica";
    margin-left:0%;
    margin-right:10%;
} 

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center; 
}

th,td {
    padding: 1%;
}

img {
    display: block;
    margin: 0 auto;
}

.div1 {
    position: absolute;
    down: 80%;
    left: 15%;
}

.div2 {
    position: absolute;
    down: 80%;
    left: 45%;
}

.div3 {
    position: absolute;
    down: 80%;
    left: 60%;
}

.div4 {
    position: absolute;
    margin-right: 10%;
    margin-left: 20%;
    down: 10%;
}
