h1 { color: White ; }

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.main-menu>li {
    padding: 0px 10px 0px 10px;
    display: inline;
}

.sidebar {
    background-color:#1d90d3;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    font size; 110%;
    float: left;



body {
    background-color: #1d90d3;
    color: Black;
    font-family: "Helvetica";
}    
