h1 { color: White ;
    border-bottom: 2px solid White;
    text-align: center;

}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#ECDB02;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    font size; 110%;
    float: left;
    width: 160px;
    border-style: double;
}







body {
    background-color: #ECDB02;
    color: Black;
    font-family: "Helvetica";
}    
