h1 { color: White ;
    border-bottom: 2px solid White;
    text-align: center;

}

ul.main-menu {
    list-style-type: none;
    background-color:#08A6DC;
    margin: 2%;
    border-radius: .5%;
    padding: 1%;
    font size; 110%;
    float: left;
    width: 15%;
    border-right: solid;
    Height: 100%;
    Padding-bottom: 100%;
    
}

body {
    background-color: #08A6DC;
    color: Black;
    font-family: "Helvetica";
    margin-left:0%;
    margin-right: 0%;
} 

.spotlight {
    font-size: 500%;
    position: absolute;
    text-align: center;
    top: 30%;
}

.keyframe {
    z-index: -1;
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 50%;
    animation: bounce 5s ease-out .5s 1;
    position: relative;
    right: 42.5%;
    bottom: 20%;
}

@keyframes bounce {
    0% {
        top: 0%
    }
    50% {
        top: 20%
    }
    75% {
        top: 10%
    }
    100% {
        top: 20%
    }

    
